<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{contact-master}">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div layout:fragment="content" class="container col-md-6">
	  <br/>
	  <h2>Welcome to home page!</h2>
	  <p> This is a simple project that allows us to play with <a href="https://spring.io" target="_blank">Spring Boot Framework</a></p>
	  <br/>
	</div>
</body>
</html>